# ACE V3R
NET "CLK" LOC = "H1" | IOSTANDARD = LVCMOS33; #OSC
NET "DBG" LOC = "M2" | IOSTANDARD = LVCMOS33; #LED
NET "CPU_EXT_CLK_EN" LOC = "J1" | IOSTANDARD = LVCMOS33; #PAD F
NET "POSTBIT" LOC = "D13" | IOSTANDARD = LVCMOS15 ; #PAD C
NET "CPU_RESET" LOC = "G1" | IOSTANDARD = LVCMOS15 ; #PAD D
